---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Spring from "./icons/Spring.astro";
import React from "./icons/React.astro";
import mongo from "./icons/mongo.astro";
import Vue from "./icons/Vue.astro";
import { preview } from "astro";

const TAGS = {
  SpringBoot: {
    name: "SpringBoot",
    class: "bg-black text-white",
    icon: Spring,
  },
  React: {
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React,
  },
  Mongo: {
    name: "MongoDB",
    class: "bg-[#47A248] text-white",
    icon: mongo,
  },
  Vue: {
    name: "Vue.js",
    class: "bg-[#4FC08D] text-white",
    icon: Vue,
  },
};
const PROJECTS = [
  {
    title: "Aplicacion de gestion de ventas y control de inventario",
    description:
      "Sistema de Ventas e Inventario diseñado para gestionar productos, controlar stock en tiempo real y registrar ventas de forma eficiente. Permite optimizar la administración del negocio, reducir errores operativos y obtener reportes claros para una mejor toma de decisiones.",
    github: "https://github.com/Leonky27/Seged-Repositorio",
    image: "/projects/seged.webp",
    tags: [TAGS.SpringBoot, TAGS.React, TAGS.Mongo],
  },
  {
    title: "Quiz App",
    description:
      "Pagina web de preguntas y respuestas desarrollada con Vue.js y Tailwind CSS. Ofrece una interfaz interactiva donde los usuarios pueden responder preguntas de diversas categorías, evaluar su conocimiento y mejorar sus habilidades de manera divertida y educativa.",
    link: "https://quiz-app-ten-tau-93.vercel.app/",
    image: "/projects/Quiz.webp",
    github: "https://github.com/Thermaltank/quiz-app",
    tags: [TAGS.Vue],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="group flex flex-col md:flex-row gap-8">
  <div class="w-full md:w-1/2">
    <div
      class="relative h-56 md:h-72 overflow-hidden rounded-xl
             transition-all duration-500 ease-in-out
             shadow-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl"
    >
      {image && (
        <img
          src={image}
          alt={title}
          loading="lazy"
          class=" h-full w-full object-cover
                 transition-transform duration-500 ease-in-out
                 md:group-hover:scale-105"
        />
      )}
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>

    <ul class="flex flex-wrap mt-2 gap-2">
      {tags.map((tag) => (
        <li>
          <span
            class={`flex items-center gap-2 rounded-full text-xs ${tag.class} py-1 px-2`}
          >
            <tag.icon class="size-4" />
            {tag.name}
          </span>
        </li>
      ))}
    </ul>

    <p class="mt-3 text-gray-700 dark:text-gray-400">
      {description}
    </p>

    <footer class="flex gap-4 mt-4">
      {github && (
        <LinkButton href={github}>
          <GitHub class="size-6" />
          Code
        </LinkButton>
      )}
      {link && (
        <LinkButton href={link}>
          <Link class="size-4" />
          Preview
        </LinkButton>
      )}
    </footer>
  </div>
</article>

    ))
  }
</div>
